[submodule "WaveGenSynth"]
	path = WaveGenSynth
	url = git@github.com:suckrowPierre/WaveGenSynth.git
[submodule "ResultPage/TtPS.github.io"]
	path = ResultPage/TtPS.github.io
	url = git@github.com:suckrowPierre/TtPS.github.io.git
[submodule "BachelorThesisLatex"]
	path = BachelorThesisLatex
	url = git@github.com:suckrowPierre/BachelorThesisLatex.git
[submodule "ThesisPythonGraphs"]
	path = ThesisPythonGraphs
	url = git@github.com:suckrowPierre/ThesisPythonGraphs.git
